.placeCard {
  &-link {
    width: 90%;
    display: flex;
    margin-bottom: 3%;
    padding: 5%;
    border-radius: 8px;
    box-shadow: inset 10px 10px 20px #012636, inset -10px -10px 20px #03425e;
    text-decoration: none;
    color: $font-color-dark;
    font-size: 0.8rem;

    &-image {
      width: 35%;
      height: 13vh;
      margin: 5.5% 7% 3% 1%;
      &-place {
        width: 99%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    &-infos {
      width: 60%;
      text-align: justify;
    }
  }
}
