body {
  // width: 100vw;
  // height: 100%;
  margin: 0;
  // padding: .0 3vw;
  background-color: $main-color-dark;
  color:$font-color-dark;

  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
