$main-color:#ad6659;
$main-color-dark: #02344a;

$font-color: #333928;
$font-color-dark: #91762d; 

$buttonlightshadow: #FA9C8C;
$buttondarkshadow: #613028;
$buttoninsdideshadow: #BA6D5F;
$buttonlightshadow-dark:#035070;
$buttondarkshadow-dark:#022433;
$buttoninsdideshadow-dark: #033D57;

// #dee9ea ; 